// <weight>: Use a value from 300 to 900
// <uniquifier>: Use a unique and descriptive class name

.rubik-<uniquifier> {
  font-family: "Rubik", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}


.roboto-<uniquifier> {
  font-family: "Roboto", serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}


body{
	margin-left:30px;
	font-family:"Roboto", sans-serif;
}

button{
	background-color:white;
	border-style:none;
	overflow:crop;
}

button:hover{
	color:gray;
	cursor:pointer;
}

a{
    text-decoration:none;
}

button img{
	pointer-events:none;
}

.back{
    margin-left:3%;
    font-size:20px;
    font-weight:300;
    color:gray;
    text-decoration:none;
}
.back:hover{
    color:darkgray;
}

.contact{
	font-weight:300;
	color:darkgray;
	display:flex;
	flex-direction:row;
	gap:20px;
}

.contact address{
	/*text-decoration:underline;*/
}

.contact address:hover{
	color:black;
}

.contact h4{
	font-weight:300;
	color:gray;
	margin-top:0;
}


.clickable:hover{
	cursor:pointer;
}


h1 {
	font-weight:250;
	color:gray;
}

.content{
	display:flex;
	flex-direction:row;
	gap:20px;
	//margin-top:50px;
	border-style:none;
}



#materials_landing{
	gap:10px;
	overflow:scroll;
}

#materials_landing a{
	display:inline-block;
	width:150px;
	padding:12px;
	overflow:clip;
}

#pattern_landing{
	height:300px;
	width:auto;
}

.portcontent{
	font-family:"Roboto", sans-serif;
	color:gray;
	font-weight:300;

}


.info h3{
	font-weight:300;
	font-style:italic;
	color:gray;
}

.info pre {
    font-family:"Roboto", sans-serif;
    font-weight:100;
}

.portcontent button{	position:relative;
}
.patcontent button{	position:relative;
}

.portcontent img{
	margin:10px;
	height:300px;
	width:auto; 
	opacity:0;
}

.portcontent .vertical img{
    margin:10px;
    height:auto;
    width:300px;
    opacity:0;
}


.patcontent img{
	margin:10px;
	height:300px;
	width:auto; 
	opacity:0;
}


.buttonoverlay{
	position:absolute;
	height:100%;
	width:100%;
	top:0;
	left:0;
	background-color:white;
	z-index:1;
	pointer-events:none;
	opacity:0;
}

.sidebar{
	list-style:none;
	margin:0 0 0 0;
	padding:0;
	font-weight:300;
	
}

 
.sidebar a{
	text-decoration:none;
	color:black;
}

.sidebar a:visited{
	color:gray;
}

.sidebar a:hover{
	color:darkgray;
}


.sidebar li{
    padding: 5px;
}

.samples{
	display:flex;
	align-items:center;
	gap:30px;
}

.samples a{
	font-family:"Roboto", sans-serif;
	font-size:18px;
	text-decoration:none;
	background-color:white;
	border-style:none;
	color:gray;
	
	padding-top:20px;
	padding-left:9px;
	font-weight:300;
}

.samples a:hover{
	color:lightgray;
}

.imgbt{
	border-style:none;
	background-color:white;
}
.portfolio{
	width:80%;
	height:80vh;
	border-style:none;
}

.imageoverlay{
	position:absolute;
	background-color:black;
	opacity:0.60;
	width:100%;
	height:99.2%;
	top:0;
	z-index:1;
	pointer-events:none;
}

.materialoverlay{
	position:absolute;
	background-color:black;
	opacity:.60;
	width:93%;
	height:95.5%;
	top:12px;
	left:12px;
	z-index:1;
	pointer-events:none;
}

.link label{
	pointer-events:none;
	position:absolute;
	color:white;
	opacity:1;
	z-index:2;
	font-weight:300;
	top:45%;
	left:32%;
	/*text-decoration:underline;*/
	font-size:25px;
}

.iframe_content{
	display:flex;
	flex-direction:row;
	gap:50px 10px;
	//margin-top:50px;
	border-style:none;
	width:100%;
	flex-wrap:wrap;
}

.mlink img{}

.mlink label{
	pointer-events:none;
	position:absolute;
	color:white;
	opacity:1;
	z-index:2;
	font-weight:300;
	top:50%;
	left:50%;
	/*text-decoration:underline;*/
	font-size:25px;
}

#undulation{
	left:34%;
}
#seafish{
	left:41%;
}

#illusory{
    left:16%;
}

#homecontent{
	display:flex;
	flex-direction:row;
}

.link{
	margin-left:50px;
	position:relative;
	z-index:0;
	opacity:0;
}



.mlink{
	position:relative;
	z-index:0;
	opacity:0;
}

#mend{
	width:175px;
	overflow:clip;
}

.webproject{
	color:black;
	font-weight:200;
}

.webproject:hover{
	color:gray;
}

@media screen and (min-width:601px){
    .sidebar{
	font-size:17px;
    }
    
}

@media screen and (max-width:600px){
    body{
	margin:0;
	padding:0;
    }
    
    a{
	font-size:12px;
    }
    
    pre{
	margin-left:20px;
	font-size:8px;
    }

    .info{
	margin-left:10px;
    }
    
    .info h3{
	font-size:12px;
    }
    
    .samples a{
	font-size:12px;
    }
    
    .ibody{
	overflow-x:clip;
    }

    #mibody{
	margin-left:12px;
	//overflow-y:clip;
    }

    #mend{
	width:100px;
	overflow:clip;
    }
    
    .content{
	height:84vh;
	//width:110vw;
	flex-direction:column;
    }

    .contact{
	margin-left:10px;
    }
    
    .portfolio{
	width:90%;
    }

    .patcontent img{
	height:140px;
	width:auto;
    }

    .portcontent .vertical img{
	width:200px;
	height:auto;
    }
    
    .sidebar{font-size:12px;
	     margin:8px;
	    }

    #homecontent{
	flex-direction:column;
    }
    
    h4{font-size:13px;}

    address{font-size:12px;}
    h1{font-size:20px;
       margin:8px;
      }
    .iframe_content img{
	width:240px;
	height:240px;
	object-fit:cover;
    }
    .iframe_content{
	position:absolute;
	top:0;
	flex-direction:column;
	gap:10px;
	//margin-right:50px;
	text-align:center;
    }

    #materials_landing{
	flex-direction:row;
	flex-wrap:wrap;
    }

    #materials_landing a{
	width:75px;
	//height:150px;
	//padding:2px;
	overflow:clip;
	margin-top:0;
    }

    #materials_landing img{
	height:100px;
	object-fit:cover;
    }
    .materialoverlay{
	width:90%;
	height:80%;
	top:10px;
	left:10px;
    }
    .mlink label{
	top:40%;
	left:45%;
    }
    .link{
	margin-left:25px;
    }
    
    .link label{
	font-size:20px;
	left:10%;
	
    }

    #homecontent .link{
	margin-top:10px;
	height:250px;
	width:250px;
    }

    #homecontent .link img{
	height:250px;
	width:250px;
	object-fit:cover;
    }

    .portcontent{
	margin-left:12px;
    }
    
    .portcontent img{
	width:230px;
	height:auto;
    }
    
    #illusory{left:5%;}
    #undulation{left:23%;}
    #seafish{left:33%;}
    #soft_encryption{left:15%;}
    
    .sidebar li{
	display:inline;
    }

    
}
